NEXUS_RUNTIME_BROKER_BACKEND=rabbitmq
NEXUS_RUNTIME_RABBITMQ_URL=amqp://nexus:change-me@rabbitmq.internal:5672/%2f
NEXUS_RUNTIME_RABBITMQ_EXCHANGE=nexus.runtime
NEXUS_RUNTIME_RABBITMQ_QUEUE_PREFIX=nexus.runtime
